TAGS
LinuxTAGS
tags
cscope.out
.sconsign.dblite
.sconf_temp/
config.log
*.pdb
.*.swp
.cproject
*.ncb
*.log
*.suo
*.aps
*.user
*.obj
*.lib
*.exe
*.sln
*.o
*.os
*.ilk
*.dep
*.creds
*.a
html/
build/
dist/
ajlite.nvram
.whitespace.db
*.pyc
*.exp
